body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  width: 80vh;
}

.App {
  text-align: center;
}

.main {
  height: 100%;
  display: grid;
  grid-template-columns: minmax(300px, 1fr) minmax(600px, 2fr);
  grid-template-rows: 100%;
  grid-gap: 25px;
}

@media only screen and (max-width: 600px) {
  .main {
    display: block;
  }
}

.remote .a {
  fill: #010101;
}

.remote .r_stroke {
  stroke: #231f20;
  stroke-linejoin: round;
  fill: #fff;
  stroke-width: 10px;
}

.remote .button {
  fill: #006838;
  stroke-width: 4px;
  cursor: pointer;
}

.red {
  fill: red !important
}